* {
	box-sizing: border-box;
}

body {
	background-color: lightgray;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	position: relative;
}

#map {
	width: 80vw;
	height: 80vh;
	/* Uses viewport (vw & vh) units: https://css-tricks.com/fun-viewport-units */
	background-color: white;
	box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
	position: relative;
}



/* list pane*/
.list{
	width : 250px;
	position: absolute;
	right: 0;
	z-index: 2000;
	
}
.list ul{
	list-style: none;
}

.list>ul>li p[class=title]{
	width      : 100%;
	text-align : left;
	background : white;
	height     : 80px;
	line-height: 20px;
	padding    : 0;
	border     : none;
	position   : relative;
	font-size  : 12px;
	font-weight: bold;
	border-radius: 16px;
	padding-top: 10px;
	padding-left: 15px;
}




.list>ul>li p:hover{
	background: #006083;
	color:white;
}
.list-se{
	overflow: hidden;
	display: none;
	width : 250px;
	position: absolute;
	right: 0;
	z-index: 2000;
}
.list-se>p{
	background: white;
	color     : #006083;
	
}
.list-se>li{
	position: relative;
}
.list>ul>li>.list-se>li p:hover{
	background: white;
	color: #006083;
}

.list>ul>li>.list-se>li p{
	background  : white;
	color       : #8d969a;
	height      : 60px;
	position: relative;
	padding-left: 10px;
	line-height : 20px;
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 9px;
}

.list>ul>li>.list-se>li .more{
	height: 35px;
	font-weight: bold;
	color: #006083;
}
.list>ul>li>.list-se>li .more:hover{
	color: #000103;
}
.f0{
	line-height: 10px;
	padding: 0;
	margin: 0;
	font-size: 10px;
	font-weight:100;
}
.f1{
	position: absolute;
	right: 2%;
	bottom: 25%;
}
.f1 img{
	width: 75%;
}
.f2{
	position: absolute;
	left: 15px;
	bottom: 25%;
}
.f2 img{
	width: 18%;
	float: left;
}
.f3{
	position: absolute;
	right: 10%;
	bottom: 25%;
}
